body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 300px;
  height: 600px;
  position: relative;
  margin: 100px;
  border: 1px solid;
  overflow: hidden;
}

p {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  text-shadow: 1px 2px 3px #000;
  margin: 0;
}

.wrapper .absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.wrapper .background-image {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background: url('./images/guru.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}

.wrapper #overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}

.wrapper #tag {
  width: 250px;
  height: 250px;
  background: url('./images/guru-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  z-index: 2;
}

.wrapper #switched-to-quickbooks {
  opacity: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  top: auto;
  bottom: 155px;
}


.wrapper #e-invoicing {
  opacity: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  top: 20px;
  margin-top: 0px;
  bottom: auto;
}
.wrapper #e-invoicing p {
  font-size: 26px;
  text-shadow: 1px 2px 2px #000;
}

.wrapper #own-it {
  text-align: center;
  opacity: 0;
  top: auto;
  bottom: 162px;
}

.wrapper #own-it p {
  font-size: 36px;
  text-shadow: 1px 2px 13px #585858;
}

.wrapper .yellow {
  color: #FFFC38;
}

.wrapper #button-tag {
  bottom: 95px;
  top: auto;
  opacity: 0;
}

.button {
  width: 235px;
  min-height: 53px;
  max-height: 45px;
  background: #ED7600;
  border-bottom: 5px solid #9E5002;
  color: #fff;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 45px;
  box-sizing: border-box;
  padding-top: 0px;    
  display: table;
}

#pad {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 15px;
  text-shadow: none;
  vertical-align: middle;
  display: table-cell;
}


.wrapper #footer-extension {
  position: absolute;
  bottom: 100px;
  -webkit-transform: translate3d(0, 120%, 0);
  -moz-transform: translate3d(0, 120%, 0);
  -o-transform: translate3d(0, 120%, 0);
  -ms-transform: translate3d(0, 120%, 0);
  transform: translate3d(0, 120%, 0);
}
.wrapper #footer-extension .slope {
  background: #2BA01C;
  width: 400px;
  height: 500px;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
  margin-left: -36px;
}

.wrapper #footer {
  width: 100%;
  height: 72px;
  background: #2BA01C;
  position: absolute;
  bottom: -46px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0 20px;
  box-sizing: border-box;
}

.wrapper #footer #logo { 
  background-image: url('./images/logo.png');
  width: 100%;
  height: 100%;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 0px solid rgba(0, 0, 0, 0.13);

}